
## Init containers parameters:
## volumePermissions: Change the owner of the persist volume mountpoint to RunAsUser:fsGroup
##
volumePermissions:
  image:
    registry: docker.io
    repository: bitnami/minideb
    tag: latest
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: Always
  ## Init container Security Context
  securityContext:
    runAsUser: 0

image:
  repository: iguaziodocker/mariadb
  tag: 10.4
  pullPolicy: IfNotPresent
  command: /etc/config/v3io/v3io-mariadb.sh

server:
  hostname: mysql
  port: 3306

  livenessProbe:
    ## Initializing the database could take some time
    initialDelaySeconds: 120
    ## Default Kubernetes values
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 30
    ## Default Kubernetes values
    periodSeconds: 10

rootUser:
  ## MariaDB admin password
  password:
  ##
  ## Option to force users to specify a password. That is required for 'helm upgrade' to work properly.
  ## If it is not force, a random password will be generated.
  forcePassword: true

db:
  ## MariaDB username and password
  user:
  ## Password is ignored if existingSecret is specified.
  password:
  ## Database to create
  name: metastore
  ## Allow access from remote hosts. '%' is a wild card that allows unlimited remote access
  remoteAccessHost: "%"
  ## Option to force users to specify a password. That is required for 'helm upgrade' to work properly.
  ## If it is not force, a random password will be generated.
  forcePassword: true
  ## Delay execution of initialization script till server starts (in seconds)
  initDelay: 30

## initdb scripts
## Specify dictionnary of scripts to be run at first boot
## Alternatively, you can put your scripts under the files/docker-entrypoint-initdb.d directory
##
# initdbScripts:
#   my_init_script.sh: |
#      #!/bin/sh
#      echo "Do something."
#
## ConfigMap with scripts to be run at first boot
## Note: This will override initdbScripts
# initdbScriptsConfigMap:

## Pod Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
##
securityContext:
  enabled: true
  fsGroup: 1001
  runAsUser: 1001

config:
  welcome:
    Welcome to Iguazio MySQL (MariaDB) server

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

environment:
  template: v3io-configs.deployment-with-home.env

volumes:
  volumesTemplate: v3io-configs.deployment.mount-with-fuse-and-home
  volumeMountsTemplate: v3io-configs.deployment.volumeMounts-with-fuse-and-home

global:
  v3io:
    configMountPath: /etc/config/v3io
