# Copyright 2017 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
{{- if .Values.deployment.create }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-controller
  namespace: {{ .Release.Namespace }}
  labels:
    component: workflow-controller
{{ include "pipelines.commonLabels" . | indent 4 }}
spec:
  progressDeadlineSeconds: {{ .Values.configurations.argo.progressDeadlineSeconds }}
  replicas: {{ .Values.configurations.argo.replicas }}
  revisionHistoryLimit: {{ .Values.configurations.argo.revisionHistoryLimit }}
  selector:
    matchLabels:
      component: workflow-controller
{{ include "pipelines.commonLabels" . | indent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.configurations.argo.strategy.rollingUpdate.maxSurge }}
      maxUnavailable: {{ .Values.configurations.argo.strategy.rollingUpdate.maxUnavailable }}
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        component: workflow-controller
{{ include "pipelines.commonLabels" . | indent 8 }}
    spec:
      containers:
      - args: [
          "--configmap",
          "workflow-controller-configmap",
          "--executor-image",
          "{{ .Values.images.argoexec.repository }}:{{ .Values.images.argoexec.tag }}",
          "--namespaced"
        ]
        command:
        - workflow-controller
        env:
        - name: ARGO_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        - name: LEADER_ELECTION_IDENTITY
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        image: {{ .Values.images.workflowController.repository }}:{{ .Values.images.workflowController.tag }}
        imagePullPolicy: {{ .Values.images.imagePullPolicy }}
        name: workflow-controller
        resources:
{{ toYaml .Values.resources.workflowController | indent 10 }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        ports:
          - name: metrics
            containerPort: 9090
          - containerPort: 6060
        livenessProbe:
          httpGet:
            port: 6060
            path: /healthz
          # Require three failures to tolerate transient errors.
          failureThreshold: 3
          initialDelaySeconds: 90
          periodSeconds: 60
          timeoutSeconds: 30
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: argo
      serviceAccountName: argo
      terminationGracePeriodSeconds: {{ .Values.configurations.argo.template.spec.terminationGracePeriodSeconds }}
{{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
{{- end }}
{{- end }}
