{{- if .Values.deployment.create }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow-controller
  namespace: {{ .Release.Namespace }}
  labels:
    component: workflow-controller
{{ include "pipelines.commonLabels" . | indent 4 }}
spec:
  progressDeadlineSeconds: {{ .Values.configurations.argo.progressDeadlineSeconds }}
  replicas: {{ .Values.configurations.argo.replicas }}
  revisionHistoryLimit: {{ .Values.configurations.argo.revisionHistoryLimit }}
  selector:
    matchLabels:
      component: workflow-controller
{{ include "pipelines.commonLabels" . | indent 6 }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.configurations.argo.strategy.rollingUpdate.maxSurge }}
      maxUnavailable: {{ .Values.configurations.argo.strategy.rollingUpdate.maxUnavailable }}
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        component: workflow-controller
{{ include "pipelines.commonLabels" . | indent 8 }}
    spec:
      containers:
      - args: [
          "--configmap",
          "workflow-controller-configmap",
          "--executor-image",
          "{{ .Values.images.argoexec.repository }}:{{ .Values.images.argoexec.tag }}"
        ]
        command:
        - workflow-controller
        env:
        - name: ARGO_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        image: {{ .Values.images.workflowController.repository }}:{{ .Values.images.workflowController.tag }}
        imagePullPolicy: {{ .Values.images.imagePullPolicy }}
        name: workflow-controller
        resources:
{{ toYaml .Values.resources.workflowController | indent 10 }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: argo
      serviceAccountName: argo
      terminationGracePeriodSeconds: {{ .Values.configurations.argo.template.spec.terminationGracePeriodSeconds }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | indent 8 }}
      {{- end }}
{{- end }}
