# Copyright 2017 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Default values for tenant.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
tenant:
  name: iguazio-system
  namespace:
    tagJob:
      run: false

  network:
    ingress:
      allowedNamespaces:
        - kube-system

  compute:
    create: false

job:
  flexVolume:
    enabled: true
    image:
      repository: iguaziodocker/flex-fuse
      tag: 2.0.0-0.6.0
      pullPolicy: IfNotPresent
    environment:
      extra: {}
    executablePath: /home/iguazio/igz/clients/fuse/bin/v3io_adapters_fuse
    mountType: os
    hostPaths:
      v3ioFuse: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
      fuseConfig: /etc/v3io/fuse
    v3ioFuse:
      v3ioConfigJson:
            {
               "v3io": {
                 "session": {
                   "reconnect_wait_times_ms":  [0],
                   "channel_lease_time_sec": 30
                 } ,
                 "v3io_transport": {
                     "connect_timeout_sec": 60,
                     "ka_intvl": 3,
                     "ka_probes": 3,
                     "ka_time" : 6
                 },
                 "v3io_bridge": {
                     "connect_timeout_sec": 10,
                     "ka_intvl": 3,
                     "ka_probes": 3,
                     "ka_time" : 6
                 },
                 "max_open_handles": 65536,
                 "slabs_config": [
                   {
                     "size": 256,
                     "min": 256,
                     "max": 8192,
                     "grow": 256
                   },
                   {
                     "size": 4096,
                     "min": 256,
                     "max": 8192,
                     "grow": 256
                   },
                   {
                     "size": 16384,
                     "min": 16,
                     "max": 16384,
                     "grow": 64
                   },
                   {
                     "size": 65536,
                     "min": 0,
                     "max": 16384,
                     "grow": 32
                   },
                   {
                     "size": 262144,
                     "min": 0,
                     "max": 8192,
                     "grow": 16
                   },
                 ]
               }
             }

      v3ioConfigPath: /etc/v3io/fuse/fuse_v3io_config.json
      image:
        repository: quay.io/iguazio
        tag: latest
        pullPolicy: IfNotPresent
    clusters: []
      # - name: default
      #   dataUrls: 
      #     - tcp://1.1.1.1:1234
      #     - tcp://2.2.2.2:1234
    priorityClassName: ""
  namespaceTag:
    enabled: true
    image:
      repository: lachlanevenson/k8s-kubectl
      tag: v1.10.5
      pullPolicy: IfNotPresent
    namespaces:
      - kube-system
    priorityClassName: ""

logfwd:
  enabled : false
  image:
    repository: iguaziodocker/logfwd
    tag: 0.1.0
    pullPolicy: IfNotPresent
  config:
    admin:
      deadLetters: false
      errorOnDeadLetters: false
    #   namespaces: []
    #   output:
    #     http:
    #       method: POST
    #       endpoint: example.com
    #       headers: {}
    #       params: {}
    #       authentication:
    #         header: {}
    # outputs:
    #   - namespace: example
    #     http:
    #       method: POST
    #       endpoint: example.com
    #       headers: {}
    #       params: {}
    #       authentication:
    #         header: {}

prometheus:
  enabled: false

grafana:
  enabled: false

fluent:
  enabled: false
  backend:
    type: http
    http:
      host: logfwd
      port: 8080
      format: json
  filter:
    mergeJSONLog: true
    enableExclude: true

nodeSelector: {}

tolerations: []

affinity: {}
