# Default values for tenant.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
tenant:
  name: iguazio-system
  namespace:
    tagJob:
      run: false

  network:
    ingress:
      allowedNamespaces:
        - kube-system

  compute:
    requests:
      cpu: 8
      memory: 10Gi
    limits:
      cpu: 8
      memory: 10Gi
    container:
      cpu:
        default: 0.5
        defaultRequest: 0.5
        min: 0.1
        max: 4
      memory:
        # This is the default limit; setting a low bar will require adding limit to all containers
        default: 16Mi
        defaultRequest: 16Mi
        min: 16Mi
        max: 8Gi

job:
  flexVolume:
    enabled: true
    image:
      repository: iguaziodocker/flex-fuse
      tag: 2.0.0-0.6.0
      pullPolicy: IfNotPresent
    executablePath: /home/iguazio/igz/clients/fuse/bin/v3io_adapters_fuse
    mountType: os
    clusters: []
      # - name: default
      #   dataUrls: 
      #     - tcp://1.1.1.1:1234
      #     - tcp://2.2.2.2:1234
  namespaceTag:
    enabled: true
    image:
      repository: lachlanevenson/k8s-kubectl
      tag: v1.10.5
      pullPolicy: IfNotPresent
    namespaces:
      - kube-system

logfwd:
  enabled : false
  image:
    repository: iguaziodocker/logfwd
    tag: 0.1.0
    pullPolicy: IfNotPresent
  config:
    admin:
      deadLetters: false
      errorOnDeadLetters: false
    #   namespaces: []
    #   output:
    #     http:
    #       method: POST
    #       endpoint: example.com
    #       headers: {}
    #       params: {}
    #       authentication:
    #         header: {}
    # outputs:
    #   - namespace: example
    #     http:
    #       method: POST
    #       endpoint: example.com
    #       headers: {}
    #       params: {}
    #       authentication:
    #         header: {}

prometheus:
  enabled: false

grafana:
  enabled: false

fluent:
  enabled: false
  backend:
    type: http
    http:
      host: logfwd
      port: 8080
      format: json
  filter:
    mergeJSONLog: true
    enableExclude: true

nodeSelector: {}

tolerations: []

affinity: {}
