logger:
  severity: info
  enableAccessLog: false

image: 
  repository: iguaziodocker/webapi
  tag: 1.7.0
  pullPolicy: IfNotPresent
  command: /etc/iguazio/nginx/init.sh

resources: {}
  # limits:
    # cpu: 1
    # memory: "2Gi"
  # requests:
    # cpu: 1
    # memory: "2Gi"

numHugePages: 0
hostPort: 8081
sslHostPort: 8443
workerProcesses: 2
workerConnections: 1024

installationPath: /home/iguazio/igz/clients/nginx

user:
  # create new user when running (new username must not match iguazio and must have UID gt 1000)
  create: false
  # run as this default container user
  name: iguazio
  # run as this default user id, this value must be greater than 1000 or random value will be assigned
  uid: 1000

datanodes:
  - uri: "tcp://localhost:1234"
