# Default values for tenant.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# kubeconfig: /home/iguazio/.kube/config

scaler:
  image:
    repository: iguaziodocker/autoscaler
    tag: 0.1.0
    pullPolicy: IfNotPresent
  
  config:
    command: ./autoscaler
  
  args:
    scaleInterval: 30m
    scaleWindow: 5m
    metricsPollInterval: 1m
    metricName: num_of_requests
    metricsGroupKind: Deployment
    scaleThreshold: 0

general:
  config:
    pathMount: /home/app_resourcescaler

dlx:
  image:
    repository: iguaziodocker/dlx
    tag: 0.1.0
    pullPolicy: IfNotPresent
  
  config:
    command: ./dlx

  args:
    targetNameHeader: X-App-Target
    targetPathHeader: ""
    targetPort: 8080
    listenAddress: :8080

nodeSelector: {}

tolerations: []

affinity: {}
