{{- if eq .Values.httpDB.dbType "mysql" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mlrun.db.fullname" . }}
  labels:
    {{- include "mlrun.db.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.db.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "mlrun.db.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "mlrun.db.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.db.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.db.podSecurityContext | nindent 8 }}
      terminationGracePeriodSeconds: 120
      initContainers:
        - name: init-mysql
          image: "{{ .Values.db.image.repository }}:{{ .Values.db.image.tag }}"
          imagePullPolicy: {{ .Values.db.image.pullPolicy }}
          resources:
            {{- toYaml .Values.db.resources | nindent 12 }}
          env:
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "true"
          command: ["/bin/bash", "/etc/config/mysql/init-v3io-mysql.sh"]
          securityContext:
            {{- toYaml .Values.db.securityContext | nindent 12 }}
          volumeMounts:
            - name: mysql-fuse
              mountPath: "/var/lib/mysql"
            - name: mysql-config
              mountPath: /etc/config/mysql
      containers:
        - name: {{ template "mlrun.name" . }}-{{ .Values.db.name }}
          securityContext:
            {{- toYaml .Values.db.securityContext | nindent 12 }}
          image: "{{ .Values.db.image.repository }}:{{ .Values.db.image.tag }}"
          imagePullPolicy: {{ .Values.db.image.pullPolicy }}
          command: ["/bin/bash", "/etc/config/mysql/v3io-mysql.sh"]
          ports:
          - name: mysql
            containerPort: 3306
            protocol: TCP
          lifecycle:
            preStop:
              exec:
                command: ["/bin/bash", "/etc/config/mysql/graceful_shutdown.sh"]
          {{- if .Values.db.livenessProbe }}
          livenessProbe:
            {{ toYaml .Values.db.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.db.readinessProbe }}
          readinessProbe:
            {{ toYaml .Values.db.readinessProbe | nindent 12 }}
          {{- end }}
          env:
          - name: MYSQL_ALLOW_EMPTY_PASSWORD
            value: "true"
          {{- if .Values.db.extraEnv }}
          {{ toYaml .Values.db.extraEnv | nindent 10 }}
          {{- end }}
          {{- if .Values.db.envFrom }}
          envFrom:
          {{ toYaml .Values.db.envFrom | nindent 10 }}
          {{- end }}
          resources:
            {{- toYaml .Values.db.resources | nindent 12 }}
          volumeMounts:
          - name: mysql-fuse
            mountPath: "/var/lib/mysql"
          - name: mysql-config
            mountPath: /etc/config/mysql
          - name: mysql-init-scripts
            mountPath: /etc/config/mysql/init-scripts
        {{- if .Values.db.exporter.enabled }}
        - name: {{ template "mlrun.name" . }}-{{ .Values.db.name }}-exporter
          image: "{{ .Values.db.exporter.image.repository }}:{{ .Values.db.exporter.image.tag }}"
          imagePullPolicy: {{ .Values.db.exporter.image.pullPolicy }}
          {{- with .Values.db.exporter.collectors }}
          args: [
            {{- range $index, $element := . }}
            {{- if and (typeIs "bool" $element) $element }}
            {{ printf "--collect.%s" $index | quote | indent 12 }},
            {{- else if and (typeIs "bool" $element) (not $element) }}
            {{ printf "--no-collect.%s" $index | quote | indent 12 }},
            {{- else }}
            {{ printf "--collect.%s" $index | quote | indent 12 }}, {{ $element | quote }},
            {{- end }}
            {{- end }}
          ]
          {{- end }}
          env:
            - name: DATA_SOURCE_NAME
              value: {{ .Values.db.exporter.dataSource }}
          ports:
            - containerPort: {{ .Values.db.exporter.service.internalPort }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.db.exporter.service.internalPort }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.db.exporter.service.internalPort }}
        {{- end }}
      volumes:
        - name: mysql-init-scripts
          configMap:
            name: {{ include "mlrun.db.initConfigMapName" . }}
        - name: mysql-config
          configMap:
            name: {{ include "mlrun.db.fullname" . }}
        # Add MySQL data mount (Fuse)
        - name: mysql-fuse
          flexVolume:
            driver: "v3io/fuse"
            options:
              container: users
              subPath: /{{ .Values.v3io.username }}/.mlrun/mysql
            secretRef:
              name: {{ .Release.Name }}-v3io-fuse
      {{- if .Values.db.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.db.nodeSelector | nindent 8 }}
      {{- else if .Values.api.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.api.nodeSelector | nindent 8 }}
      {{- end }}
    {{- with .Values.db.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- else }}
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  {{- include "mlrun.api.selectorLabels" . | nindent 18 }}
              topologyKey: "kubernetes.io/hostname"
    {{- end }}
    {{- with .Values.db.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.db.priorityClassName }}
      priorityClassName: {{ .Values.db.priorityClassName | quote }}
    {{- else if .Values.api.priorityClassName }}
      priorityClassName: {{ .Values.api.priorityClassName | quote }}
    {{- end }}
{{- end }}
