{{- if .Values.controller.enabled }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "provazio.controller.name" . }}
  labels:
    app: {{ template "provazio.name" . }}
    chart: {{ template "provazio.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: controller
spec:
  replicas: 1
  selector:
    matchLabels:
      chart: {{ template "provazio.chart" . }}
      component: controller
  template:
    metadata:
      labels:
        app: {{ template "provazio.name" . }}
        chart: {{ template "provazio.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
        component: controller
    spec:
      serviceAccountName: {{ template "provazio.controller.name" . }}
      containers:
      - env:
        - name: PROVAZIO_CONTROLLER_RESOURCES
          value: {{ join "," .Values.controller.crd.kinds | quote }}
{{- if .Values.controller.artifactVersionManifestContents }}
        - name: PROVAZIO_CONTROLLER_ARTIFACT_VERSION_RESOLVER_MANIFEST_PATH
          value: {{ .Values.controller.configsDir }}/artifact-version-manifest.json
{{- end }}
{{- if .Values.controller.systemConfigContents }}
        - name: PROVAZIO_CONTROLLER_SYSTEM_CONFIG_PATH
          value: {{ .Values.controller.systemConfigContents }}/system-config.json
{{- end }}
        image: {{ .Values.controller.image.repository }}:{{ .Values.controller.image.tag }}
        imagePullPolicy: {{ .Values.controller.image.pullPolicy | quote }}
        name: {{ template "provazio.controller.name" . }}
{{- if or .Values.controller.artifactVersionManifestContents .Values.controller.systemConfigContents }}
        volumeMounts:
          - mountPath: {{ .Values.controller.configsDir | quote }}
            name: configs
{{- end }}
{{- if or .Values.controller.artifactVersionManifestContents .Values.controller.systemConfigContents }}
      volumes:
{{- if .Values.controller.artifactVersionManifestContents }}
        - name: artifact-version-manifest
          configMap:
            name: {{ template "provazio.controller.name" . }}-artifact-version-manifest
{{- end }}
{{- if .Values.controller.systemConfigContents }}
        - name: system-config
          configMap:
            name: {{ template "provazio.controller.name" . }}-system-config
{{- end }}
{{- end }}

{{- end }}
