apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "v3iod-name" . }}
data:
  init.sh: |
    #!/usr/bin/env bash
    set -e
    chown -R {{ .Values.v3iod.user.name }}:{{ .Values.v3iod.user.name }} /tmp
    ulimit -S -H -l unlimited
    echo {{ .Values.v3iod.numHugePages }} > /proc/sys/vm/nr_hugepages
    {{- if .Values.v3iod.user.create }}
      {{- if or (not .Values.v3iod.user.uid) (le (int .Values.v3iod.user.uid) 1000) }}
      {{- $uid := add 3000 (randNumeric 4) }}
    useradd --no-create-home --uid {{ $uid }} {{ .Values.v3iod.user.name }}
      {{- else }}
      {{- $uid := int .Values.v3iod.user.uid }}
    useradd --no-create-home --uid {{ $uid }} {{ .Values.v3iod.user.name }}
      {{- end }}
    {{- end }}
    su --preserve-environment \
      --login {{ .Values.v3iod.user.name }} \
      --command "/usr/local/bin/v3io_dayman --config-path /etc/iguazio/dayman/default.json"

  default.json: |
    {
      "num_workers": {{ default 1 .Values.v3iod.numOfWorkers }},
      "max_channel_inactivity_period_seconds": {{ .Values.v3iod.maxChannelInactivitySeconds }},
      "max_inflight_requests": {{ .Values.v3iod.maxInFlightRequests }},
      "cdi": {
        "listen_addr": "0.0.0.0:{{ .Values.v3iod.cdiPort }}"
      },
      "job_block_allocator": {
        "mode": "per-worker",
        "heaps": [
{{ .Values.v3iod.heaps | indent 10 }}
{{- if .Values.v3iod.boostSizeInBytes -}}
          ,{
            "kind": "boost",
            "size_bytes": {{ printf "%d" (int .Values.v3iod.boostSizeInBytes) }}
          }
{{- end }}
        ]
      },
      "logger": {
        "mode": "direct",
        "severity": "{{ .Values.v3iod.logger.severity }}",
        "path": "/var/log/iguazio"
      },
      "paths": {
        "fifo": "/tmp/dayman",
        "uds": "/tmp/dayman",
        "pidfile": "/tmp/dayman.pid"
      },
      "cluster": {
        "uris": [
{{- range $index, $datanode := .Values.v3iod.datanodes }}
          {{- if gt $index 0 }},{{- end }}
          {"uri": "{{ $datanode.uri }}"}
{{- end }}
        ]
      }
    }
