# Copyright 2017 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "mariadb.fullname" . }}
  labels:
    app: {{ template "mariadb.name" . }}
    chart: {{ template "mariadb.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ template "mariadb.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "mariadb.name" . }}
        release: {{ .Release.Name }}
    spec:
      volumes:
{{- if .Values.volumes }}
{{ include .Values.volumes.volumesTemplate . | indent 8 }}
{{- end }}
        - name: {{ .Release.Name }}-init-scripts
          configMap:
            name: {{ .Release.Name }}-init-scripts
        - name: mariadb-config
          configMap:
            name: {{ template "mariadb.fullname" . }}
        # Add MariaDB data mount (Fuse)
        - name: mariadb-fuse
          flexVolume:
            driver: "v3io/fuse"
            secretRef:
              name: {{ .Release.Name }}-v3io-fuse
            options:
              container: {{ .Values.dataDir.container }}
              subPath: {{ .Values.dataDir.pathPrefix }}/{{ template "mariadb.fullname" . }}
      initContainers:
        - name: init-mariadb
          image: "{{ .Values.initializationImage.repository }}:{{ .Values.initializationImage.tag }}"
          imagePullPolicy: {{ .Values.initializationImage.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                {{- if .Values.existingSecret }}
                  name: {{ .Values.existingSecret }}
                {{- else }}
                  name: {{ template "mariadb.fullname" . }}
                {{- end }}
                  key: mariadb-root-password
          command:
            - /bin/bash
            - {{ .Values.initializationImage.command }}
          securityContext:
            runAsUser: {{ .Values.initializationImage.securityContext.runAsUser }}
          volumeMounts:
{{- if .Values.volumes }}
{{ include .Values.volumes.volumeMountsTemplate . | indent 12 }}
{{- end }}
            - name: mariadb-fuse
              mountPath: "/var/lib/mysql"
            - name: mariadb-config
              mountPath: {{ .Values.configMountPath }}
      containers:
        - name: {{ .Chart.Name }}-mariadb
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "{{ .Values.image.command }}"]
          ports:
            - name: mariadb
              containerPort: {{ .Values.server.port }}
              protocol: TCP
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.global.v3io.configMountPath }}/health_check.sh
            initialDelaySeconds: {{ .Values.server.livenessProbe.initialDelaySeconds }}
            failureThreshold: {{ .Values.server.livenessProbe.failureThreshold }}
            periodSeconds: {{ .Values.server.livenessProbe.periodSeconds }}
          readinessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.global.v3io.configMountPath }}/health_check.sh
            initialDelaySeconds: {{ .Values.server.readinessProbe.initialDelaySeconds }}
            failureThreshold: {{ .Values.server.livenessProbe.failureThreshold }}
            periodSeconds: {{ .Values.server.readinessProbe.periodSeconds }}
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                {{- if .Values.existingSecret }}
                  name: {{ .Values.existingSecret }}
                {{- else }}
                  name: {{ template "mariadb.fullname" . }}
                {{- end }}
                  key: mariadb-root-password
{{- if .Values.environment }}
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
          volumeMounts:
{{- if .Values.volumes }}
{{ include .Values.volumes.volumeMountsTemplate . | indent 12 }}
{{- end }}
            - name: mariadb-fuse
              mountPath: "/var/lib/mysql"
            - name: mariadb-config
              mountPath: {{ .Values.configMountPath }}
            - name: {{ .Release.Name }}-init-scripts
              mountPath: {{ .Values.configMountPath }}/init-scripts
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
{{- end }}
