crd:
  create: false
deployment:
  create: true
rbac:
  create: true

# kubeflow pipelines uses two kinds of storage:
# Metadata -  mostly used for purposes of sorting and filtering uses mysql
# Artifacts - heavier data (packages, views, etc. Also large-scale metrics) we use iguazio storage for this
storage:
  artifacts:
    containerName: users
  metadata:
    containerName: users
    subPath: /mlpipeline/mysql-kf
    volumes:
      storageOverride: {}

configurations:
  credentials:
    accessKey: overrideMe
  ports:
    nginxPort: 8081
  argo:
    kfpContainerRuntimeExecutor: docker
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
    template:
      spec:
        terminationGracePeriodSeconds: 30
  mysql:
    spec:
      template:
        spec:
          containers:
            name: mysql-mysql
            livenessProbe:
              initialDelaySeconds: 10
              failureThreshold: 3
              periodSeconds: 10
            readinessProbe:
              initialDelaySeconds: 20
              failureThreshold: 3
              periodSeconds: 10
  kfpDefaultPipelineRoot:
    objref:
      kind: ConfigMap
      name: pipeline-install-config
      apiVersion: v1
      fieldref:
        fieldpath: data.defaultPipelineRoot
  persistenceagent:
    ttlSecondsAfterWorkflowFinish: 86400
    numWorkers: 2

# updated versions can be taken from here: https://github.com/kubeflow/pipelines/blob/master/manifests/kustomize/base/kustomization.yaml
images:
  imagePullPolicy: IfNotPresent
  argoexec:
    repository: gcr.io/iguazio/argoexec
    tag: v3.2.3-igz-license-compliance
  workflowController:
    repository: gcr.io/iguazio/workflow-controller
    tag: v3.2.3-igz-license-compliance
  apiServer:
    repository: gcr.io/iguazio/ml-pipeline-api-server
    tag: 1.8.1-igz
  persistenceagent:
    repository: gcr.io/ml-pipeline/persistenceagent
    tag: 1.8.1
  scheduledworkflow:
    repository: gcr.io/ml-pipeline/scheduledworkflow
    tag: 1.8.1
  ui:
    repository: gcr.io/iguazio/ml-pipeline-frontend-v3io
    tag: 1.8.1-igz
  viewerCrdController:
    repository: gcr.io/ml-pipeline/viewer-crd-controller
    tag: 1.8.1
  visualizationServer:
    repository: gcr.io/ml-pipeline/visualization-server
    tag: 1.8.1
  metadata:
    container:
      repository: gcr.io/tfx-oss-public/ml_metadata_store_server
      tag: 1.5.0
    init:
      repository: imega/mysql-client
      tag: 10.4.12
  metadataEnvoy:
    repository: gcr.io/ml-pipeline/metadata-envoy
    tag: 1.8.1
  metadataWriter:
    repository: gcr.io/iguazio/ml-pipeline-metadata-writer
    tag: 1.8.1-igz
  mysql:
    repository: mysql
    tag: 5.6

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, use the following
  # format in any of the below subelements, adjust them as necessary, and remove the curly
  # braces after the block name, e.g. 'workflowController:'
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

  workflowController: {}
  metadata: {}
  metadataWriter: {}
  metadataEnvoy: {}
  apiServer: {}
  persistenceAgent: {}
  scheduledWorkflow: {}
  ui: {}
  viewerCRD: {}
  visualizationServer: {}
  mysql: {}

## Node labels for pod assignment
## Ref: https://kubernetes.io/docs/user-guide/node-selection/
##
nodeSelector: {}

## List of node taints to tolerate (requires Kubernetes >= 1.6)
tolerations: []
#  - key: "key"
#    operator: "Equal|Exists"
#    value: "value"
#    effect: "NoSchedule|PreferNoSchedule|NoExecute"

## Affinity
## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

priorityClassName: ""

storageMode:
  kind:
    v3io:
      enabled: true
    minio:
      enabled: false
