apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "jupyter.fullname" . }}
  labels:
    app: {{ template "jupyter.name" . }}
    chart: {{ template "jupyter.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  v3io-jupyter.sh: |
    #!/usr/bin/env bash
    set -e

{{ include "v3io-configs.script.lookupService" . | indent 4 }}

    test -e ${HOME}/.bashrc || touch ${HOME}/.bashrc

{{- if .Values.initCommands }}
    mkdir -p ${HOME}/.igz
{{- range $index, $initCmd := .Values.initCommands }}
    if [ ! -e "${HOME}/.igz/.{{ $initCmd.name }}" ]; then
{{ $initCmd.command | indent 6 }}
      touch ${HOME}/.igz/.{{ $initCmd.name }}
    fi
{{ end -}}
{{- end }}

{{- if .Values.spark }}
    echo "spark.master=spark://{{ .Values.spark.hostname }}:{{ .Values.spark.port }}" >> ${SPARK_HOME}/conf/spark-defaults.conf
    echo spark.driver.host=$(hostname -i) >> ${SPARK_HOME}/conf/spark-defaults.conf
{{- end }}

{{- if .Values.presto }}
    echo alias prestow=\"presto-cli --server {{ .Values.presto.hostname }}.{{ .Release.Namespace }}.svc:{{ .Values.presto.port }} \$@\" >> ${HOME}/.presto_alias
    echo alias presto=\"prestow --catalog=v3io \$@\" >> ${HOME}/.presto_alias
    if [ "$(grep --count 'PRESTO CONFIG' ${HOME}/.bashrc)" == "0" ]; then
      echo "# ----- PRESTO CONFIG -----" >> ${HOME}/.bashrc
      echo "source ${HOME}/.presto_alias" >> ${HOME}/.bashrc
      echo "# --- END PRESTO CONFIG ---" >> ${HOME}/.bashrc
    fi
{{- end }}

{{- if and .Values.v3io.tsdbctl .Values.v3io.tsdbctl.download }}
    mkdir -p ${HOME}/bin
    curl -o ${HOME}/bin/tsdbctl {{ .Values.v3io.tsdbctl.download }}
    chmod +x ${HOME}/bin/tsdbctl
    export PATH="$PATH:${HOME}/bin"
{{- end }}

{{- if .Values.config.logo }}
    if [ "$(grep --count 'LOGO CONFIG' ${HOME}/.bashrc)" == "0" ]; then
      echo "# ----- LOGO CONFIG -----" >> ${HOME}/.bashrc
      echo "echo {{ .Values.config.logo }} | base64 --decode" >> ${HOME}/.bashrc
      echo "echo ''" >> ${HOME}/.bashrc
      echo "# --- END LOGO CONFIG ---" >> ${HOME}/.bashrc
    fi
{{- end }}

    if [ "$(grep --count 'IGUAZIO CONFIG' ${HOME}/.bashrc)" == "0" ]; then
      echo "# ----- IGUAZIO CONFIG -----" >> ${HOME}/.bashrc
      echo alias ll=\"ls -lah --color\" >> ${HOME}/.bashrc
      echo "source ${IGUAZIO_HOME}/bash-it.sh" >> ${HOME}/.bashrc
      echo "# --- END IGUAZIO CONFIG ---" >> ${HOME}/.bashrc
    fi

    mkdir -p ${HOME}/.pythonlibs
    export PYTHONPATH="${HOME}/.pythonlibs:${PYTHONPATH}"

    jupyter-notebook $@
