apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "jupyter.fullname" . }}
  labels:
    app: {{ template "jupyter.name" . }}
    chart: {{ template "jupyter.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  securityContext:
    fsGroup: 1000
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: {{ template "jupyter.name" . }}
      chart: {{ template "jupyter.chart" . }}
      release: {{ .Release.Name }}
      heritage: {{ .Release.Service }}
  template:
    metadata:
      labels:
        app: {{ template "jupyter.name" . }}
        chart: {{ template "jupyter.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
      hostname: {{ .Values.config.username }}
      containers:
        - name: jupyter
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          command: ["/bin/bash", "-x", "{{ .Values.image.command }}"]
          workingDir: "{{ .Values.config.home.pathMount }}"
          args:
            - --ip="0.0.0.0"
            - --port={{ .Values.servicePort }}
            - --NotebookApp.token=''
            - --NotebookApp.password=''
            - --notebook-dir="{{ .Values.config.home.pathMount }}"
            - --NotebookApp.default_url="/lab"
{{- if .Values.debug.enabled }}
            - --debug
{{- end }}
          ports:
            - containerPort: {{ .Values.servicePort }}
              name: jupyter
          resources:
{{ toYaml .Values.resources | indent 12 }}
          readinessProbe:
            httpGet:
              path: /lab
              port: {{ .Values.servicePort }}
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /lab
              port: {{ .Values.servicePort }}
            initialDelaySeconds: 90
          env:
            - name: SHELL
              value: /bin/bash
            - name: HOME
              value: {{ .Values.config.home.pathMount }}
{{- if .Values.v3io.api }}
            - name: V3IO_API
              value: {{ .Values.v3io.api.hostname }}.{{ .Release.Namespace }}.svc:{{ .Values.v3io.api.port }}
{{- end }}
{{- if .Values.v3io.presto }}
            - name: DATABASE_URL
              value: presto://{{ .Values.presto.hostname }}.{{ .Release.Namespace }}.svc:{{ .Values.presto.port }}/{{ .Values.presto.catalog }}
{{- end }}
{{- if .Values.v3io.framesd }}
            - name: V3IO_FRAMESD
              value: {{ .Values.v3io.framesd.hostname }}.{{ .Release.Namespace }}.svc:{{ .Values.v3io.framesd.port }}
{{- end }}
{{- if .Values.environment }}
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
          volumeMounts:
            - mountPath: {{ .Values.config.home.pathMount }}
              name: home
            - mountPath: /etc/config/jupyter
              name: jupyter-config
{{- if .Values.volumes }}
{{ include .Values.volumes.volumeMountsTemplate . | indent 12 }}
{{- end }}
      volumes:
        - name: home
          flexVolume:
            driver: "v3io/fuse"
            secretRef:
              name: {{ .Release.Name }}-v3io-fuse
            options:
              container: {{ .Values.config.home.container }}
              subPath: {{ .Values.config.home.pathPrefix }}/{{ .Values.config.username }}
{{- if .Values.volumes }}
{{ include .Values.volumes.volumesTemplate . | indent 8 }}
{{- end }}
        - name: jupyter-config
          configMap:
            name: {{ template "jupyter.fullname" . }}
