master:
  image:
    repository: "iguaziodocker/spark"
    tag: "2.1.2-1.7.0"
    pullPolicy: "IfNotPresent"
    command: /etc/config/v3io/v3io-spark.sh
  replicas: 1
  servicePort: 7077
  containerPort: 7077

  resources: {}
    # limits:
      # cpu: 1
      # memory: "3Gi"
    # requests:
      # cpu: 1
      # memory: "3Gi"

  webAdmin:
    servicePort: 8080
    containerPort: 8080

worker:
  image:
    repository: "iguaziodocker/spark"
    tag: "2.1.2-1.7.0"
    pullPolicy: "IfNotPresent"
    command: /etc/config/v3io/v3io-spark.sh
  replicas: 1
  containerPort: 8081
  executorMemory: "1g"

  resources: {}
    # limits:
      # cpu: 1
      # memory: "4Gi"
    # requests:
      # cpu: 1
      # memory: "4Gi"

environment:
  template: v3io-configs.deployment.env

volumes:
  master:
    volumesTemplate: v3io-configs.deployment.mount
    volumeMountsTemplate: v3io-configs.deployment.volumeMounts
  worker:
    volumesTemplate: v3io-configs.deployment.mount
    volumeMountsTemplate: v3io-configs.deployment.volumeMounts

debug:
  enabled: false
  log: {}
  # com.acme.path: DEBUG

global:
  v3io:
    configMountPath: /etc/config/v3io

v3io: {}

livenessProbe:
  initialDelaySeconds: 90
  periodSeconds: 10

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 10
