master:
  image:
    repository: "iguaziodocker/spark"
    tag: "2.1.2-1.7.0"
    pullPolicy: "IfNotPresent"
    command: /etc/config/v3io/v3io-spark.sh
  replicas: 1
  servicePort: 7077
  containerPort: 7077

  resources: {}
    # limits:
      # cpu: 1
      # memory: "3Gi"
    # requests:
      # cpu: 1
      # memory: "3Gi"

  webAdmin:
    servicePort: 8088
    containerPort: 8088

  restApi:
    servicePort: 6066
    containerPort: 6066

  uiProxy:
    containerPort: 8080
    servicePort: 8080
    image:
      repository: "iguaziodocker/spark-ui-proxy"
      tag: "0.1.0"
      pullPolicy: "IfNotPresent"
    resources: {}
      # limits:
        # cpu: 1
        # memory: "512Mi"
      # limits
        # cpu: 1
        # memory: "128Mi"

worker:
  image:
    repository: "iguaziodocker/spark"
    tag: "2.1.2-1.7.0"
    pullPolicy: "IfNotPresent"
    command: /etc/config/v3io/v3io-spark.sh
  replicas: 1
  containerPort: 8081
  executorMemory: "1g"

  resources: {}
    # limits:
      # cpu: 1
      # memory: "4Gi"
    # requests:
      # cpu: 1
      # memory: "4Gi"

environment:
  template: v3io-configs.deployment.env
  master: []
  worker:
    SPARK_WORKER_OPTS: "-Dspark.worker.cleanup.enabled=true -Dspark.worker.cleanup.interval=604800 -Dspark.worker.cleanup.appDataTtl=604800"

volumes:
  master:
    volumesTemplate: v3io-configs.deployment.mount
    volumeMountsTemplate: v3io-configs.deployment.volumeMounts
  worker:
    volumesTemplate: v3io-configs.deployment.mount
    volumeMountsTemplate: v3io-configs.deployment.volumeMounts

debug:
  enabled: false
  log: {}
  # com.acme.path: DEBUG

global:
  v3io:
    configMountPath: /etc/config/v3io

v3io: {}

daemon:
  image:
    repository: "iguazio/v3io_dayman_health_check"
    tag: "1.0.0"
    pullPolicy: "IfNotPresent"

livenessProbe:
  initialDelaySeconds: 90
  periodSeconds: 5

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 5
