apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "presto.coordinator" . }}
  labels:
    app: {{ template "presto.name" . }}
    chart: {{ template "presto.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: coordinator
spec:
  selector:
    matchLabels:
      app: {{ template "presto.name" . }}
      release: {{ .Release.Name }}
      component: coordinator
  template:
    metadata:
      labels:
        app: {{ template "presto.name" . }}
        release: {{ .Release.Name }}
        component: coordinator
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "presto.coordinator" . }}
{{- if .Values.server.config.https }}
        - name: java-cert
          emptyDir: {}
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.coordinator.volumesTemplate . | indent 8 }}
{{- end }}
{{- if .Values.server.config.https }}
      initContainers:
        - name: {{ .Chart.Name }}-jks
          image: "{{ .Values.server.config.https.image.repository }}:{{ .Values.server.config.https.image.tag }}"
          imagePullPolicy: {{ .Values.server.config.https.image.pullPolicy }}
          command: ["/bin/bash", "-x", "/opt/v3io/jks/create-cert.sh"]
          volumeMounts:
            - mountPath: /opt/v3io/jks
              name: config-volume
            - mountPath: /var/run/iguazio/java/cert
              name: java-cert
{{- end }}
      containers:
        - name: {{ .Chart.Name }}-coordinator
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "-x", "{{ .Values.image.command }}"]
{{- if .Values.environment }}
          env:
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
          volumeMounts:
            - mountPath: {{ .Values.server.config.mapPath }}
              name: config-volume
{{- if .Values.server.config.https }}
            - mountPath: /var/run/iguazio/java/cert
              name: java-cert
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.coordinator.volumeMountsTemplate . | indent 12 }}
{{- end }}
          ports:
            - name: http-coord
              containerPort: {{ .Values.server.config.http.port }}
              protocol: TCP
{{- if .Values.server.config.https }}
            - name: https-coord
              containerPort: {{ .Values.server.config.https.port }}
              protocol: TCP
{{- end }}
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.server.config.mapPath }}/health_check.sh
              - --uri-path=/v1/cluster
              - --port={{ .Values.server.config.http.port }}
              initialDelaySeconds: 90
              periodSeconds: 1
          readinessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.server.config.mapPath }}/health_check.sh
              - --uri-path=/v1/cluster
              - --port={{ .Values.server.config.http.port }}
              initialDelaySeconds: 5
              periodSeconds: 1
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
