# Copyright 2017 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "presto.coordinator" . }}
  labels:
    app: {{ template "presto.name" . }}
    chart: {{ template "presto.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: coordinator
spec:
  selector:
    matchLabels:
      app: {{ template "presto.name" . }}
      release: {{ .Release.Name }}
      component: coordinator
  template:
    metadata:
      labels:
        app: {{ template "presto.name" . }}
        release: {{ .Release.Name }}
        component: coordinator
      annotations:
        checksum/catalog-configmap: {{ include (print $.Template.BasePath "/catalog-configmap.yaml") . | sha256sum }}
        checksum/coordinator-configmap: {{ include (print $.Template.BasePath "/coordinator-configmap.yaml") . | sha256sum }}
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "presto.coordinator" . }}
        - name: catalog-config-volume
          configMap:
            name: {{ template "presto.catalog" . }}
        - name: daemon-health
          emptyDir: {}
        - name: third-party-volume
          hostPath:
            path: "/home/iguazio/igz/bigdata/libs/third-party"
{{- if .Values.server.properties.https }}
        - name: java-cert
          emptyDir: {}
{{- end }}
{{- if .Values.server.properties.coordinator.volumes }}
{{ include .Values.server.properties.coordinator.volumes.volumesTemplate . | indent 8 }}
{{- end }}
      initContainers:
        - name: daemon-health
          image: "{{ .Values.daemon.image.repository }}:{{ .Values.daemon.image.tag }}"
          imagePullPolicy: {{ .Values.daemon.image.pullPolicy }}
          command: ["/bin/bash", "/etc/config/daemon/daemon-health.sh"]
          volumeMounts:
            - mountPath: /etc/config/daemon
              name: config-volume
            - mountPath: /var/run/iguazio/daemon_health
              name: daemon-health
{{- if .Values.server.properties.https }}
        - name: {{ .Chart.Name }}-jks
          image: "{{ .Values.server.properties.https.image.repository }}:{{ .Values.server.properties.https.image.tag }}"
          imagePullPolicy: {{ .Values.server.properties.https.image.pullPolicy }}
          command: ["/bin/bash", "/opt/v3io/jks/create-cert.sh"]
          volumeMounts:
            - mountPath: /opt/v3io/jks
              name: config-volume
            - mountPath: /var/run/iguazio/java/cert
              name: java-cert
{{- end }}
      containers:
        - name: {{ .Chart.Name }}-coordinator
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "{{ .Values.image.command }}"]
{{- if .Values.environment }}
          env:
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
          volumeMounts:
            - mountPath: {{ .Values.server.properties.mapPath }}
              name: config-volume
            - mountPath: {{ .Values.server.properties.catalogMapPath }}
              name: catalog-config-volume
            - mountPath: /var/run/iguazio/daemon_health
              name: daemon-health
{{- if .Values.server.properties.https }}
            - mountPath: /var/run/iguazio/java/cert
              name: java-cert
{{- end }}
{{- if .Values.server.properties.coordinator.volumes }}
{{ include .Values.server.properties.coordinator.volumes.volumeMountsTemplate . | indent 12 }}
{{- end }}
          ports:
            - name: http-coord
              containerPort: {{ .Values.server.properties.http.port }}
              protocol: TCP
{{- if .Values.server.properties.https }}
            - name: https-coord
              containerPort: {{ .Values.server.properties.https.port }}
              protocol: TCP
{{- end }}
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.server.properties.mapPath }}/health_check.sh
              - --uri-path=/v1/status
              - --port={{ .Values.server.properties.http.port }}
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.server.properties.mapPath }}/health_check.sh
              - --uri-path=/v1/status
              - --port={{ .Values.server.properties.http.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
{{- end }}
