.Values.server.properties.coordinator.node.apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "presto.coordinator" . }}
  labels:
    app: {{ template "presto.name" . }}
    chart: {{ template "presto.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: coordinator
data:
  node.properties: |
{{- if .Values.server.properties.coordinator.node.custom }}
{{ printf "#============= Custom node properties ==========" | indent 4 }}
{{ .Values.server.properties.coordinator.node.custom | indent 4 }}
{{- else }}
{{ printf "#============= Default node properties ==========" | indent 4 }}
    node.environment={{ .Values.server.properties.coordinator.node.environment }}
    node.data-dir={{ .Values.server.properties.coordinator.node.dataDir }}
{{- end }}

  jvm.config: |
{{- if .Values.server.properties.coordinator.jvm.custom }}
{{ printf "#============= Custom jvm properties ==========" | indent 4 }}
{{ .Values.server.properties.coordinator.jvm.custom | indent 4 }}
{{- else }}
{{ printf "#============= Default jvm properties ==========" | indent 4 }}
    -server
    -Xmx{{ .Values.server.properties.coordinator.jvm.maxHeapSize }}
    -XX:+{{ .Values.server.properties.coordinator.jvm.gcMethod.type }}
    -XX:G1HeapRegionSize={{ .Values.server.properties.coordinator.jvm.gcMethod.g1.heapRegionSize }}
    -XX:+UseGCOverheadLimit
    -XX:+ExplicitGCInvokesConcurrent
    -XX:+HeapDumpOnOutOfMemoryError
    -XX:+ExitOnOutOfMemoryError
{{- end }}

  config.properties: |
{{- if .Values.server.properties.coordinator.config.custom }}
{{ printf "#============= Custom config properties ==========" | indent 4 }}
{{ .Values.server.properties.coordinator.config.custom | indent 4 }}
{{- println "coordinator=true" }}
{{- else }}
{{ printf "#============= Default config properties ==========" | indent 4 }}
    coordinator=true
{{- if gt (int .Values.server.workers) 0 }}
    node-scheduler.include-coordinator=false
{{- else }}
    node-scheduler.include-coordinator=true
{{- end }}
    http-server.http.port={{ .Values.server.properties.http.port }}
{{- if .Values.server.properties.https }}
    http-server.https.enabled=true
    http-server.https.port={{ .Values.server.properties.https.port }}
    http-server.https.keystore.path={{ .Values.server.properties.https.keystore }}
    http-server.https.keystore.key={{ .Values.server.properties.https.passphrase }}
    http-server.authentication.type=PASSWORD
{{- end }}
    query.max-memory={{ .Values.server.properties.query.maxMemory }}
    query.max-memory-per-node={{ .Values.server.properties.query.maxMemoryPerNode }}
    discovery-server.enabled=true
    discovery.uri=http://{{ template "presto.fullname" . }}.{{ .Release.Namespace }}.svc:{{ .Values.server.properties.http.port }}
    node.internal-address={{ template "presto.fullname" . }}.{{ .Release.Namespace }}.svc
{{- end }}

{{ if .Values.server.properties.https }}
  password-authenticator.properties: |
    password-authenticator.name=v3io
{{- end }}

{{ if .Values.server.log }}
  log.properties: |
{{- if .Values.server.properties.coordinator.log.custom }}
{{ printf "#============= Custom log properties ==========" | indent 4 }}
{{ .Values.server.properties.coordinator.log.custom | indent 4 }}
{{- else }}
{{ printf "#============= Default log properties ==========" | indent 4 }}
{{- range $key, $val := .Values.server.log.categories }}
{{ printf "%s=%s" $key $val | indent 4}}
{{- end }}
{{- end }}
{{ end -}}

{{- range $key, $val := .Values.server.properties.coordinator.extra }}
{{ printf "%s: |" $key | indent 2 }}
{{ $val | indent 4 }}
{{- end }}

{{- if .Values.server.files }}
{{- range $elem := .Values.server.files }}
{{ printf "" }}
{{ printf "%s: |" $elem.name | indent 2}}
{{ printf "%s" $elem.contents | indent 4 }}
{{- end }}
{{- end }}

{{- if .Values.server.properties.https }}
  create-cert.sh: |
    #!/bin/bash

    set -e

    echo -n "{{ .Values.server.properties.https.keystoreBinary }}" | base64 --decode > {{ .Values.server.properties.https.keystore }}
{{- end }}

  health_check.sh: |
{{ include "v3io-configs.script.httpHealthCheckWithJava" . | indent 4 }}
    CONFIGURED_V3IOD=$(grep "socket.host" $IGZ_DATA_CONFIG_FILE | cut -f2 -d"=")
    if [ "${CONFIGURED_V3IOD}" != "CURRENT_NODE_IP" ]; then
      /var/run/iguazio/daemon_health/healthz --host ${CONFIGURED_V3IOD}
    fi

  daemon-health.sh: |
    #!/usr/bin/env bash

    cp /usr/local/bin/healthz /var/run/iguazio/daemon_health/healthz

  docker-presto.sh: |
    #!/bin/bash

    cp {{ .Values.server.properties.mapPath }}/*.properties $PRESTO_CONF_DIR
    cp {{ .Values.server.properties.mapPath }}/*.config $PRESTO_CONF_DIR
    cp {{ .Values.server.properties.mapPath }}/*.json $PRESTO_CONF_DIR
    cp {{ .Values.server.properties.catalogMapPath }}/*.properties $PRESTO_CONF_DIR/catalog

{{- if .Values.hive }}
    # append to Hive configuration
    echo hive.config.resources=${HADOOP_CONF_DIR}/core-site.xml,${HADOOP_CONF_DIR}/hdfs-site.xml >> $PRESTO_CONF_DIR/catalog/hive.properties

    # Hive dependencies
    ln -s ${PRESTO_HOME}/plugin/v3io/v3io-hcfs_${SCALA_MAJOR_VERSION}.jar ${PRESTO_HOME}/plugin/hive-hadoop2/v3io-hcfs_${SCALA_MAJOR_VERSION}.jar
    ln -s ${PRESTO_HOME}/plugin/v3io/scala-library-${SCALA_VERSION}.jar ${PRESTO_HOME}/plugin/hive-hadoop2/scala-library-${SCALA_VERSION}.jar
{{- end }}

    launcher run

---
