{{- if gt (int .Values.server.workers) 0 }}
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{ template "presto.worker" . }}
  labels:
    app: {{ template "presto.name" . }}
    chart: {{ template "presto.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: worker
spec:
  replicas: {{ .Values.server.workers }}
  selector:
    matchLabels:
      app: {{ template "presto.name" . }}
      release: {{ .Release.Name }}
      component: worker
  template:
    metadata:
      labels:
        app: {{ template "presto.name" . }}
        release: {{ .Release.Name }}
        component: worker
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "presto.worker" . }}
        - name: catalog-config-volume
          configMap:
            name: presto.catalog
        - name: daemon-health
          emptyDir: {}
{{- if .Values.server.config.https }}
        - name: java-cert
          emptyDir: {}
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.worker.volumesTemplate . | indent 8 }}
{{- end }}
      initContainers:
        - name: daemon-health
          image: "{{ .Values.daemon.image.repository }}:{{ .Values.daemon.image.tag }}"
          imagePullPolicy: {{ .Values.daemon.image.pullPolicy }}
          command: ["/bin/bash", "/etc/config/daemon/daemon-health.sh"]
          volumeMounts:
            - mountPath: /etc/config/daemon
              name: config-volume
            - mountPath: /var/run/iguazio/daemon_health
              name: daemon-health
{{- if .Values.server.config.https }}
        - name: {{ .Chart.Name }}-jks
          image: "{{ .Values.server.config.https.image.repository }}:{{ .Values.server.config.https.image.tag }}"
          imagePullPolicy: {{ .Values.server.config.https.image.pullPolicy }}
          command: ["/bin/bash", "/opt/v3io/jks/create-cert.sh"]
          securityContext:
            runAsUser: 0
          volumeMounts:
            - mountPath: /opt/v3io/jks
              name: config-volume
            - mountPath: /var/run/iguazio/java/cert
              name: java-cert
{{- end }}
      containers:
        - name: {{ .Chart.Name }}-worker
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "{{ .Values.image.command }}"]
{{- if .Values.environment }}
          env:
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
          volumeMounts:
            - mountPath: {{ .Values.server.config.mapPath }}
              name: config-volume
            - mountPath: {{ .Values.server.config.catalogMapPath }}
              name: catalog-config-volume
            - mountPath: /var/run/iguazio/daemon_health
              name: daemon-health
{{- if .Values.server.config.https }}
            - mountPath: /var/run/iguazio/java/cert
              name: java-cert
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.worker.volumeMountsTemplate . | indent 12 }}
{{- end }}
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.server.config.mapPath }}/health_check.sh
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.server.config.mapPath }}/health_check.sh
            initialDelaySeconds: 10
            periodSeconds: 10
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}

{{- end }}
