apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "shell.fullname" . }}
  labels:
    app: {{ template "shell.name" . }}
    chart: {{ template "shell.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ template "shell.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ template "shell.name" . }}
        release: {{ .Release.Name }}
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "shell.fullname" . }}
{{- if .Values.presto.keystoreBinary }}
        - name: java-cert
          emptyDir: {}
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.volumesTemplate . | indent 8 }}
{{- end }}
{{- if .Values.config.hostname }}
      hostname: {{ .Values.config.hostname }}
{{- end }}
{{- if .Values.presto.keystoreBinary }}
      initContainers:
        - name: jks
          image: "{{ .Values.presto.image.repository }}:{{ .Values.presto.image.tag }}"
          imagePullPolicy: {{ .Values.presto.image.pullPolicy }}
          command: ["/bin/bash", "-x", "/etc/config/jks/create-cert.sh"]
          volumeMounts:
            - mountPath: /etc/config/jks
              name: config-volume
            - mountPath: {{ .Values.presto.keystoreMountPath }}
              name: java-cert
{{- end }}
      containers:
        - name: shell
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "-x", "{{ .Values.image.command }}"]
          workingDir: "/User"
          ports:
            - name: ttyd
              containerPort: 7681
              protocol: TCP
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.global.v3io.configMountPath }}/health_check.sh
              initialDelaySeconds: 5
              periodSeconds: 1
          readinessProbe:
            exec:
              command:
              - /bin/bash
              - {{ .Values.global.v3io.configMountPath }}/health_check.sh
              initialDelaySeconds: 5
              periodSeconds: 1
{{- if .Values.environment }}
          env:
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config/shell
{{- if .Values.presto.keystoreBinary }}
            - mountPath: {{ .Values.presto.keystoreMountPath }}
              name: java-cert
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.volumeMountsTemplate . | indent 12 }}
{{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
