# Copyright 2017 Iguazio
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "shell.fullname" . }}
  labels:
    app: {{ template "shell.name" . }}
    chart: {{ template "shell.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    matchLabels:
      app: {{ template "shell.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
        checksum/secret: {{ include (print $.Template.BasePath "/shell-ssh-key-secret.yaml") . | sha256sum }}
      labels:
        app: {{ template "shell.name" . }}
        release: {{ .Release.Name }}
    spec:
{{- if .Values.permissions.serviceAccount }}
      serviceAccount: {{ .Values.permissions.serviceAccount }}
      serviceAccountName: {{ .Values.permissions.serviceAccount }}
{{- end }}
      volumes:
{{- if .Values.sshServer.enabled }}
        - name: ssh-authorized-keys
          secret:
            defaultMode: 420
            secretName: {{ template "shell.fullname" . }}-ssh-key
{{- end }}
        - name: config-volume
          configMap:
            name: {{ template "shell.fullname" . }}
        - name: daemon-health
          emptyDir: {}
{{- if .Values.presto }}
{{- if .Values.presto.keystoreBinary }}
        - name: java-cert
          emptyDir: {}
{{- end }}
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.volumesTemplate . | indent 8 }}
{{- end }}
{{- if .Values.config.hostname }}
      hostname: {{ .Values.config.hostname }}
{{- end }}
      initContainers:
        - name: daemon-health
          image: "{{ .Values.daemon.image.repository }}:{{ .Values.daemon.image.tag }}"
          imagePullPolicy: {{ .Values.daemon.image.pullPolicy }}
          command: ["/bin/bash", "/etc/config/daemon/daemon-health.sh"]
          volumeMounts:
            - mountPath: /etc/config/daemon
              name: config-volume
            - mountPath: /var/run/iguazio/daemon_health
              name: daemon-health
{{- if .Values.presto }}
{{- if .Values.presto.keystoreBinary }}
        - name: jks
          image: "{{ .Values.presto.image.repository }}:{{ .Values.presto.image.tag }}"
          imagePullPolicy: {{ .Values.presto.image.pullPolicy }}
          command: ["/bin/bash", "/etc/config/jks/create-cert.sh"]
          volumeMounts:
            - mountPath: /etc/config/jks
              name: config-volume
            - mountPath: {{ .Values.presto.secretsMountPath }}
              name: java-cert
{{- end }}
{{- end }}
      containers:
        - name: shell
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: ["/bin/bash", "{{ .Values.image.command }}"]
          workingDir: "/User"
          ports:
{{- if .Values.sshServer.enabled }}
            - name: sshd
              containerPort: 22
              protocol: TCP
{{- end }}
            - name: ttyd
              containerPort: 7681
              protocol: TCP
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - /etc/config/shell/health_check.sh
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: 5
{{- if or .Values.environment .Values.v3io.api }}
          env:
{{- if .Values.environment }}
{{- range $name, $val := .Values.environment.extra }}
            - name: {{ $name }}
              value: {{ $val | quote }}
{{ end -}}
{{- if .Values.environment.template }}
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
{{- end }}
{{- if .Values.v3io.api }}
            - name: V3IO_API
              value: {{ .Values.v3io.api.hostname }}.{{ .Release.Namespace }}.svc:{{ .Values.v3io.api.port }}
{{- end }}
{{- end }}
          volumeMounts:
{{- if .Values.sshServer.enabled }}
            - mountPath: /var/run/iguazio/secrets/ssh
              readOnly: true
              name: ssh-authorized-keys
{{- end }}
            - name: config-volume
              mountPath: /etc/config/shell
            - mountPath: /var/run/iguazio/daemon_health
              name: daemon-health
{{- if .Values.presto }}
{{- if .Values.presto.keystoreBinary }}
            - mountPath: {{ .Values.presto.secretsMountPath }}
              name: java-cert
{{- end }}
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.volumeMountsTemplate . | indent 12 }}
{{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName | quote }}
{{- end }}
