createHiveUserMariaDbImage:
  repository: iguaziodocker/mariadb
  tag: 10.4
  pullPolicy: Always
  command: v3io-hive-initdb-mysql.sh
  user: root
  password: ChangeMe!
  securityContext:
    runAsUser: 1001

image:
  repository: iguaziodocker/hive
  tag: 2.3.2-2.9.0
  pullPolicy: IfNotPresent
  command: /etc/config/hive/v3io-hive.sh
  createHiveSchemaCommand: create-hive-schema.sh

replicas: 1

metastore:
  servicePort: 9083
  containerPort: 9083
  authPath: /igz/metastore/auth
  database:
    ## Valid values: "mysql" or "postgres"
    type: mysql
    ## Service name of an existing database service (mysql or postgres)
    hostname: hive-metastore-db
    ## Database service port. Default port for mysql is "3306", for postgres is "5432"
    port: 3306
    ## Database name
    name: metastore
    ## Database user anme and password
    username: hive
    password: hive
    remoteAccessHost: "%"
    ## Metastore username and password using existing secret
    ## existingSecret: hive-metastore-secret
    dataDir:
      container: bigdata
      pathPrefix: /mysql

## Configure extra options for liveness and readiness probes
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes)
livenessProbe:
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

readinessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

environment:
  template: v3io-configs.deployment.env

volumes:
  volumesTemplate: v3io-configs.deployment.mount
  volumeMountsTemplate: v3io-configs.deployment.volumeMounts

global:
  v3io:
    configMountPath: /etc/config/v3io

hive:
  logLevel: INFO
  configPath: /etc/config/hive

v3io: {}
