# possible release name overrides
nameOverride:
fullnameOverride:

api:
  name: api
  fullnameOverride:

  logLevel: INFO

  replicaCount: 1

  image:
    repository: mlrun/mlrun-api
    tag: 0.6.4
    pullPolicy: IfNotPresent
    pullSecrets: []

  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080

  ingress:
    enabled: false
    annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths: []
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  # Extra env variables
  extraEnv: []

  # envFrom can be used to pass configmaps or secrets as environment
  envFrom: []

  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
  #   cpu: 100m
  #   memory: 128Mi

  ## Node labels for pod assignment
  ## ref: https://kubernetes.io/docs/user-guide/node-selection/
  ##
  nodeSelector: {}

  ## Tolerations for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  ##
  tolerations: []

  ## Affinity for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  affinity: {}

  podSecurityContext: {}
  # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

  readinessProbe:
    httpGet:
      path: /api/healthz
      port: http
    initialDelaySeconds: 10
    timeoutSeconds: 10
    periodSeconds: 15
    failureThreshold: 4

  livenessProbe:
    httpGet:
      path: /api/healthz
      port: http
    initialDelaySeconds: 60
    timeoutSeconds: 10
    periodSeconds: 15
    failureThreshold: 4

  volumes:
    storageOverride: {}

  # Defines additional volume mounts from existing persistent volume claims.
  extraPersistentVolumeMounts: []
    # - name: extra-volume
    #   mountPath: /mnt/volume
    #   subPath: /sub/path
    #   readOnly: true
    #   existingClaim: volume-claim


ui:
  name: ui
  fullnameOverride:

  replicaCount: 1

  image:
    repository: mlrun/mlrun-ui
    tag: 0.6.4
    pullPolicy: IfNotPresent
    pullSecrets: []

  service:
    type: ClusterIP
    port: 80
    targetPort: 80

  ingress:
    enabled: false
    annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    hosts:
      - host: chart-example.local
        paths: []
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  # Extra env variables
  extraEnv: []

  # envFrom can be used to pass configmaps or secrets as environment
  envFrom: []

  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
  #   cpu: 100m
  #   memory: 128Mi

  ## Node labels for pod assignment
  ## ref: https://kubernetes.io/docs/user-guide/node-selection/
  ##
  nodeSelector: {}

  ## Tolerations for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  ##
  tolerations: []

  ## Affinity for pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  affinity: {}

  podSecurityContext: {}
  # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

rbac:
  create: true

serviceAccounts:
  api:
    create: true
    # If not set and create is true, a name is generated using the fullname template
    name:

v3io:
  enabled: true

httpDB:
  dbType: "sqldb"
  dirPath: "/mlrun/db"
  dsn: "sqlite:////mlrun/db/mlrun.db?check_same_thread=false"

defaultDockerRegistryURL: ""
defaultDockerRegistrySecretName: ""

# Fill these in order to enable working with Nuclio, by default integration is disabled
nuclio:
  mode: disabled
  # Used by MLRun UI for showing links to Nuclio UI
  # This is resolved automatically for mlrun-kit or can be overridden explicitly
  # example: http://example-nuclio-ui:8070
  uiURL:

  # Used by MLRun API/UI to access nuclio API to manipulate nuclio resources
  # This is resolved automatically for mlrun-kit or can be overridden explicitly
  # Must be fully qualified domain name (FQDN) e.g. http://nuclio-dashboard.namespace.svc.cluster.local:8070
  apiURL:

# global is a stanza that is used if this is used as a subchart. Ignore otherwise
global:
  externalHostAddress:
  registry:
    url:
    secretName:
  nuclio:
    dashboard:
      nodePort:
