apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "spark.worker-name" . }}
  labels:
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    component: spark-worker
data:
  health_check.sh: |
{{ include "v3io-configs.script.httpHealthCheckWithJava" . | indent 4 }}
    # Test that dayman is alive and accessible
    hadoop fs -test -e v3io://users/

  run.sh: |
    #!/usr/bin/env bash
    set -e

    /spark-worker \
      --master-port={{ .Values.master.servicePort }} \
      --webui-port={{ .Values.master.webAdmin.servicePort }} \
      --master-hostname={{ template "spark.master-name" . }}
