apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "spark.master-name" . }}
  labels:
    app: {{ template "spark.name" . }}
    chart: {{ template "spark.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    component: spark-master
spec:
  securityContext:
    fsGroup: 1000
  replicas: {{ .Values.master.replicas }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      chart: {{ template "spark.chart" . }}
      component: spark-master
  template:
    metadata:
      labels:
        app: {{ template "spark.name" . }}
        chart: {{ template "spark.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
        component: spark-master
    spec:
      containers:
        - name: {{ template "spark.master-name" . }}
          image: {{ .Values.master.image.repository }}:{{ .Values.master.image.tag }}
          imagePullPolicy: {{ .Values.master.image.pullPolicy | quote }}
          volumeMounts:
            - mountPath: /etc/config/spark
              name: spark-master-config
{{- if .Values.debug.enabled }}
            - mountPath: /spark/conf
              name: spark-debug-config
{{- end }}
{{- if .Values.volumes }}
{{ include .Values.volumes.master.volumeMountsTemplate . | indent 12 }}
{{- end }}
          command: ["/bin/bash", "{{ .Values.master.image.command }}"]
          ports:
            - containerPort: {{ .Values.master.containerPort }}
            - containerPort: {{ .Values.master.webAdmin.containerPort }}
          livenessProbe:
            exec:
              command:
              - /bin/bash
              - /etc/config/spark/health_check.sh
              - --port={{ .Values.master.webAdmin.containerPort }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
          readinessProbe:
            exec:
              command:
              - /bin/bash
              - /etc/config/spark/health_check.sh
              - --port={{ .Values.master.webAdmin.containerPort }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          resources:
{{ toYaml .Values.master.resources | indent 12 }}
{{- if .Values.environment }}
          env:
{{ include .Values.environment.template . | indent 12 }}
{{- end }}
      volumes:
{{- if .Values.volumes }}
{{ include .Values.volumes.master.volumesTemplate . | indent 8 }}
{{- end }}
        - name: spark-master-config
          configMap:
            name: {{ template "spark.master-name" . }}
{{- if .Values.debug.enabled }}
        - name: spark-debug-config
          configMap:
            name: {{ .Release.Name }}-spark-debug-config
{{- end }}
