apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-v3io-config
  labels:
    app: {{ template "spark.name" . }}
    chart: {{ template "spark.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
{{ include "v3io-configs.java.configMap" . | indent 2 }}

  v3io-spark.sh: |
    #!/usr/bin/env bash
    set -e
    cp /igz/java/libs/v3io-*.jar /spark/jars
{{ include "v3io-configs.script.lookupService" . | indent 4 }}

    /bin/bash /etc/config/spark/run.sh
