image:
  repository: iguaziodocker/shell
  tag: 1.7.0
  pullPolicy: IfNotPresent
  command: /etc/config/shell/v3io-shell.sh

spark:
  hostname: spark-master
  port: 7077
  executorCores: 1
  executorMemory: 2G
  maxApplicationCores: 4

permissions:
  logReader:
    name: log-reader
  appAdmin:
    name: application-admin
  svcAdmin:
    name: service-admin

presto:
  hostname: presto
  port: 8443
  catalog: v3io
  keystoreBinary:
  secretsMountPath: /var/run/iguazio/secrets
  passphrase:
  image:
    repository: iguaziodocker/base
    tag: 3.0.0
    pullPolicy: IfNotPresent

hive:
  metastore:
    hostname: hive-metastore
    port: 9083

config:
  hostname: iguazio-cloud
  logo: ICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7OzsbWzM4OzU7MzJtY2NjY2NjY2MbWzM4OzU7MzdtbGxsbGxsbGxsG1s0OW0gICAgICAgICAgICAbWzM4OzU7MjVtOzs7OxtbNDltICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIBtbMzg7NTsyNW07Ozs7OxtbNDltICAgICAgICAgICAgICAgICAgICAbWzA7MG0KICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7OxtbMzg7NTszMW1jG1szODs1OzMybWNjY2NjY2MbWzM4OzU7MzdtbGxsbGxsbGxsG1s0OW0gICAgICAgICAbWzM4OzU7MjVtOzs7Ozs7G1s0OW0gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAgICAgICAgICAgICAgG1swOzBtCiAgICAbWzQ5bSAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs6G1szODs1OzMybWNjY2NjY2NjG1szODs1OzM3bWxsbGxsbGxsG1s0OW0gICAgICAgIBtbMzg7NTsyNW07Ozs7OxtbNDltICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIBtbMzg7NTsyNW07Ozs7OxtbNDltICAgICAgICAgICAgICAgICAgICAbWzA7MG0KICAgIBtbNDltICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7OzsbWzM4OzU7MzFtOhtbMzg7NTszMm1jY2NjY2NjYxtbMzg7NTszN21sbGxsbGxsG1s0OW0gICAgICAgICAgG1szODs1OzI1bTs7G1s0OW0gICAgICAgICAbWzM4OzU7MjVtOzs7Ozs7G1s0OW0gIBtbMzg7NTsyNW07Ozs7G1s0OW0gIBtbMzg7NTsyNW07OzsbWzQ5bSAgICAgICAgIBtbMzg7NTsyNW07OxtbNDltICAgICAgICAbWzM4OzU7MjVtOzs7Ozs7OxtbNDltICAgICAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7OxtbNDltICAgICAbWzM4OzU7MjVtOzs7G1s0OW0gICAgICAgICAbWzM4OzU7MjVtOzs7Ozs7OxtbNDltICAgICAbWzA7MG0KICAgIBtbNDltICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7G1szODs1OzMybWNjY2NjY2NjG1szODs1OzM3bWxsbGxsbGxsG1s0OW0gICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OzsbWzQ5bSAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OxtbNDltICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7G1s0OW0gIBtbMDswbQogICAgG1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7OzsbWzM4OzU7MzJtY2NjY2NjY2MbWzM4OzU7MzhtbBtbMzg7NTszN21sbGxsbGxsG1s0OW0gICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OxtbNDltICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OxtbNDltICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7OxtbNDltICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7Ozs7OzsbWzA7MG0KICAgIBtbNDltICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7G1szODs1OzMybWNjY2NjY2NjYxtbMzg7NTszN21sbGxsbGxsG1s0OW0gICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OxtbNDltICAgIBtbMzg7NTsyNW07OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OzsbWzA7MG0KICAgIBtbNDltICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7OxtbMzg7NTszMm1jY2NjY2NjYxtbMzg7NTszN21sbGxsbGxsG1s0OW0gICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OxtbNDltICAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7OzsbWzQ5bSAgICAgICAgG1szODs1OzI1bTs7Ozs7OxtbNDltICAgICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gIBtbMzg7NTsyNW07Ozs7OxtbNDltICAgICAgICAgG1szODs1OzI1bTs7OzsbWzA7MG0KICAgIBtbNDltICAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7OxtbMzg7NTszMm1jY2NjY2NjYxtbMzg7NTszN21sbGxsbGxsG1s0OW0gICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OzsbWzQ5bSAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7G1s0OW0gICAgICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gIBtbMzg7NTsyNW07Ozs7OxtbNDltICAgICAgICAgG1szODs1OzI1bTs7OzsbWzA7MG0KICAgIBtbNDltICAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7OxtbMzg7NTszMm1jY2NjY2NjYxtbMzg7NTszN21sbGxsbGxsbBtbNDltICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7OzsbWzQ5bSAgICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgIBtbMzg7NTsyNW07Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAgICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAbWzM4OzU7MjVtOzs7Ozs7G1s0OW0gICAgICAgICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gIBtbMzg7NTsyNW07Ozs7OzsbWzQ5bSAgICAgICAbWzM4OzU7MjVtOzs7OzsbWzA7MG0KICAgIBtbNDltICAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7OxtbMzg7NTszMm1jY2NjY2NjY2MbWzM4OzU7MzdtbGxsbGxsbBtbNDltICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7OxtbNDltICAgICAgICAgG1szODs1OzI1bTs7Ozs7OxtbNDltICAbWzM4OzU7MjVtOzs7Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7OzsbWzQ5bSAgG1szODs1OzI1bTs7Ozs7OzsbWzQ5bSAgICAgICAgICAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7OzsbWzA7MG0KICAgIBtbNDltICAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7OxtbMzg7NTszMm1jY2NjY2NjY2MbWzM4OzU7MzdtbGxsbGxsbBtbNDltICAgICAgIBtbMzg7NTsyNW07Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7Ozs7G1s0OW0gG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OzsbWzQ5bSAgG1szODs1OzI1bTs7Ozs7G1s0OW0gICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7OxtbNDltIBtbMDswbQogICAgG1s0OW0gICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7OxtbMzg7NTszMm1jY2NjY2NjYxtbMzg7NTszN21sbGxsbGxsG1s0OW0gICAgICAgG1szODs1OzI1bTs7OzsbWzQ5bSAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7Ozs7OxtbNDltICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7G1s0OW0gICAgIBtbMzg7NTsyNW07Ozs7Ozs7OzsbWzQ5bSAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7Ozs7G1s0OW0gICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7OxtbNDltICAgG1swOzBtCiAgICAbWzQ5bSAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7G1szODs1OzMybWNjY2NjY2NjYxtbNDltICAgICAgICAgICAgICAgICAgICAbWzM4OzU7MjVtOzs7OxtbNDltICAgICAgICAbWzM4OzU7MjVtOzs7OzsbWzQ5bSAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIBtbMDswbQogICAgG1s0OW0gICAgICAbWzM4OzU7MjVtOzs7Ozs7Ozs7Ozs7OxtbMzg7NTszMm1jY2NjY2NjY2MbWzQ5bSAgICAgICAgICAgICAgICAgICAgG1szODs1OzI1bTs7Ozs7Ozs7Ozs7Ozs7Ozs7G1s0OW0gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAbWzA7MG0KICAgIBtbNDltICAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7OzsbWzM4OzU7MzJtY2NjY2NjY2NjG1s0OW0gICAgICAgICAgICAgICAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7Ozs7Ozs7G1s0OW0gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgG1swOzBtCiAgICAbWzQ5bSAgICAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7OxtbNDltICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIBtbMzg7NTsyNW07Ozs7Ozs7Ozs7G1s0OW0gICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgG1swOzBtCiAgICAbWzQ5bSAgICAgICAgICAgG1szODs1OzI1bTs7Ozs7Ozs7OxtbNDltICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgG1swOzBtCg==
  welcome:

v3io:
  downloadBinaries: {}
  api:
    hostname: v3io-webapi
    port: 8081
  tsdbctl:
    download:

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

environment:
  template: v3io-configs.deployment-with-home.env
  extra: {}

volumes:
  volumesTemplate: v3io-configs.deployment.mount-with-fuse-and-home
  volumeMountsTemplate: v3io-configs.deployment.volumeMounts-with-fuse-and-home

global:
  v3io:
    configMountPath: /etc/config/v3io

livenessProbe:
  initialDelaySeconds: 5
  periodSeconds: 30
readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 30
